<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

  <!-- 데이터 분석 크롤링 때 가장 중요한 것은 class이름이었음-->
  <div class="container"> <!--container 적재, 탑재-->
    <form action="/members/new" method="post">
      <div class="form-group">
        <label for="name">이름</label>
        <input type="text" id="name" name="name" placeholder="이름을 입력하세요">
      </div>
      <button type="submit">등록</button>
    </form>

  </div>
</body>
</html>